@import "https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,700,700i|Montserrat:300,400,500,600,700";
html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font-family: roboto, Helvetica, sans-serif;
  color: #424242;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 1.6em;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

a {
  color: #000080;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #ff9800;
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: montserrat, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.page {
  position: relative;
  width: 100%;
  height: auto;
}

.mobile-visible {
  display: none;
  visibility: hidden;
}

.mobile-hidden {
  display: block;
  visibility: visible;
}

.no-padding {
  padding: 0;
}

.center {
  text-align: center;
}

.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"] {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
button,
input[type="button"],
input[type="submit"] {
  background-color: #000080;
  color: #fff;
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fff;
  color: #212121;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-secondary:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.border-top {
  border-top: 2px solid #000080;
}

.border-bottom {
  border-bottom: 2px solid #000080;
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.footer .creater {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
}

/* sub pages */

.sub-page-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 1;
}

.subpages {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 100px;
  overflow: hidden;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 100;
}

.sub-page-page {
  width: 100%;
  max-width: 1032px;
  top: auto;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: transparent;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sub-page-page .section-inner {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transform: none;
}

.no-js .sub-page-page {
  position: relative;
}

.sub-page-page-content {
  position: absolute;
  width: 100%;
}

.sub-page-page-current,
.no-js .sub-page-page {
  visibility: visible;
  z-index: 90;
  opacity: 1;
  overflow: visible;
  height: auto;
}

.sub-page-page.sub-page-page-current .portfolio-grid {
  display: block;
}

.no-js .sub-page-page * {
  height: auto;
}

.no-js body {
  overflow: auto;
}

.sub-page-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

.sub-page-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

.no-cssanimations .sub-page-message {
  display: block;
}

.section-with-bg {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.section-without-bg {
  background: 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.section-paddings-0 {
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .header-content {
  max-width: 1032px;
  margin: 0 auto;
}

@media only screen and (min-width: 991px) {
  .header.sticked {
    background-color: #fff;
    height: 60px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-title-block {
  position: relative;
  float: left;
  z-index: 1;
  text-align: center;
}

.site-title {
  color: #49515d;
  font-size: 20px;
  font-weight: 500;
  font-family: montserrat, Helvetica, sans-serif;
  line-height: 1;
  /* margin: 38px 0 0; */
}

.site-title span {
  color: #000080;
}

.header.sticked .site-title {
  margin-top: 18px;
}

.site-main {
  width: 100%;
  height: auto;
  position: relative;
}

.navbar {
  float: right;
}

.site-main-menu {
  display: block;
  padding: 0;
  margin: 0;
}

.site-main-menu li {
  display: inline-block;
  /* float: left; */
  position: relative;
  padding: 0;
  text-align: center;
  /* margin-top: 33px; */
}

@media only screen and (min-width: 991px) {
  .header.sticked .site-main-menu li {
    margin-top: 13px;
  }
}

.site-main-menu li a,
.site-main-menu li a:hover {
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}

.site-main-menu li:last-child a {
  margin-right: 0;
}

.site-main-menu li a:hover,
.site-main-menu li.active a {
  background-color: transparent;
  opacity: 1;
}

.site-main-menu li a:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: #000080;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.site-main-menu li a:hover:after,
.site-main-menu li.active a:after {
  width: 25px;
}

.menu-icon {
  display: block;
  font-size: 21px;
  margin-bottom: 3px;
  text-align: center;
}

.menu-toggle {
  display: block;
  width: 50px;
  margin: 0 4px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  float: right;
}

.menu-toggle i {
  color: #fff;
  font-size: 21px;
  line-height: 50px;
}

.page-header {
  margin-top: 0;
}

.page-content {
  padding: 30px 50px 50px;
  word-wrap: break-word;
}

.block-title h3 {
  font-size: 21px;
  margin: 5px 0 8px;
}

.block-title h3 span {
  color: #000080;
}

.block-sub-title {
  margin: 16px 0px 8px;
}

.custom-page-content .block {
  margin-bottom: 30px;
}

.custom-page-content .page-header {
  background-color: #fff;
  border: 0;
  text-align: center;
  padding: 30px 50px;
  margin: 0;
}

.custom-page-content .page-header h2 {
  font-size: 44px;
  margin: 0;
}

.custom-page-content .page-header.color-1 {
  background-color: #000080;
  background-image: url(../images/sp_main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.custom-page-content .page-header.color-1 h2,
.custom-page-content .page-header.color-2 h2,
.custom-page-content .page-header.color-3 h2,
.custom-page-content .page-header.color-4 h2 {
  color: #fff;
}

.custom-page-content .page-content {
  background-color: #fff;
}

.start-page-content .page-header {
  position: relative;
  background-color: #000080;
  padding: 50px;
  margin-bottom: 25px;
  background-image: url(../images/sp_main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.start-page-content .page-header .photo {
  max-width: 280px;
  margin-bottom: -75px;
  border: 3px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.start-page-content .page-header .photo:hover {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.start-page-content .page-header .title-block {
  text-align: center;
}

.start-page-content .page-header .title-block h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  margin: 30px 0 0;
}

.start-page-content .page-header .title-block .sp-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.start-page-content .social-links {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.start-page-content .social-links a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 24px;
  background-color: #fff;
  margin: 0 1px;
  color: #9e9e9e;
  text-align: center;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.start-page-content .social-links a:hover {
  -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
}

.start-page-content .social-links a i {
  line-height: 36px;
  font-size: 16px;
}

.start-page-content .page-content {
  padding-top: 20px;
}

.start-page-content .page-content div {
  display: inline-block;
  height: 100%;
}

.start-page-content .about-me .block-title h3 {
  margin-bottom: 10px;
}

.start-page-content .page-content .download-resume .download-card {
  margin-top: 16px;
}

.about-me {
  margin-bottom: 20px;
}

.info-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info {
  width: auto;
}

.info-list li {
  margin: 6px 0;
  text-align: left;
}

.info-list li .title {
  display: inline-block;
  min-width: 120px;
}

.info-list li .value {
  display: inline-block;
  color: #9e9e9e;
}

.timeline {
  border-left: 2px solid #e0e0e0;
  padding: 15px 0;
}

.timeline-item {
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-left: 2px solid #000080;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.timeline-item:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -29px;
  border: 2px solid #000080;
  z-index: 2;
}

.timeline-item:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #000080;
  border-radius: 10px;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-item .item-title {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1.2em;
}

.timeline-item .item-period {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #000080;
  margin-bottom: 8px;
}

.timeline-item .item-small {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #9e9e9e;
  margin-left: 5px;
  margin-bottom: 8px;
  padding-left: 8px;
  border-left: 1px solid #e0e0e0;
}

.skills-info {
  margin-bottom: 30px;
  display: flex;
  flex-flow: wrap;
}

.skills-info h4 {
  font-size: 0.8em;
  line-height: 1.1em;
  position: relative;
  margin: 0 0 5px;
}

.skill {
  margin: 8px;
}
.js .sub-page-page:not(.sub-page-page-current) {
  width: 0;
}

.download-resume {
  margin-right: 16px;
}

.download-card {
  margin-top: 16px;
}

.portfolio-item {
  margin-bottom: 32px;
  border-radius: 4px;
  padding: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 150;
}

.portfolio-item-link {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.portfolio-item-image-wrapper {
  width: 40%;
  max-height: 250px;
  display: flex;
}

.portfolio-item-image {
  height: 100%;
  margin: auto;
}

.portfolio-item-desc {
  width: 55%;
}

.portfolio-item-heading {
  font-size: 1.5em;
}

.portfolio-item-caption {
  font-size: 1em;
  font-weight: 600;
  color: #9e9e9e;
}

.portfolio-filters {
  list-style: none;
  padding: 0;
  margin: 0 0 2em;
  text-align: center;
}

.portfolio-filters li {
  display: inline-block;
}

.portfolio-filters li div,
.portfolio-filters li div:hover {
  color: #9e9e9e;
  text-decoration: none;
}

.portfolio-filters li div:hover {
  background-color: #eee;
}

.portfolio-filters li.active div,
.portfolio-filters li.active div:hover {
  background-color: #000080;
  color: #fff;
}

.contact-info-block {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px 10px 10px 0;
}

.contact-info-block:last-child {
  margin-bottom: 30px;
}

.contact-info-block .ci-icon {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
}

.ci-icon {
  margin-bottom: 10px;
}

.ci-text {
  position: relative;
  padding-left: 50px;
}

.contact-info-block h5 {
  margin: 5px 0;
}

.contact-info-block i {
  position: relative;
  font-size: 18px;
  color: #000080;
  text-align: center;
  line-height: 36px;
}

@media only screen and (max-width: 450px) {
  .portfolio-item-link {
    display: block;
  }

  .portfolio-item-image {
    width: 100%;
  }

  .portfolio-item-desc {
    width: 100%;
    margin-top: 16px;
  }
}

@media only screen and (max-width: 1032px) {
  .header .header-content {
    margin: 0 15px;
  }
  .sub-page-page {
    margin: 0 15px;
    width: auto;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-visible {
    display: block;
    visibility: visible;
  }
  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
  }
  .border-block-top-110 {
    display: none;
  }
  .header {
    width: 50vw;
    max-width: 320px;
    height: calc(100% - 50px);
    right: 0;
    top: 50px;
    z-index: 1001;
    overflow: auto;
    background-color: #000080;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  }
  .header * {
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .my-photo {
    margin-top: 31px;
  }
  .site-title {
    font-size: 24px;
  }
  .mobile-header {
    position: fixed;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #000080;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .mobile-logo-container {
    margin: 0 20px;
    text-align: left;
  }
  .mobile-site-title {
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: montserrat, Helvetica, sans-serif;
    margin: 0;
    line-height: 50px;
  }
  .site-title-block .site-description {
    display: none;
  }
  .subpages {
    padding-top: 15px;
  }
  .single-page-content {
    padding: 15px;
  }
  .page-content,
  .single-page-content .content-area .page-content {
    padding: 30px 30px 50px;
  }
  .subpage-block {
    margin-bottom: 40px;
  }
  .site-main {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }

  p.site-description {
    color: #9e9e9e;
    text-shadow: none;
  }

  .mobile-menu-hide {
    width: 0;
    right: 0;
    margin-right: -100%;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mobile-menu-hide * {
    visibility: hidden;
    opacity: 0;
  }
  .site-main-menu li {
    display: block;
    width: 100%;
    margin: 0;
  }
  .site-main-menu li:first-child {
    margin-top: 25px;
  }
  .site-main-menu li a,
  .site-main-menu li a:hover {
    color: #fff;
    padding: 15px 10px;
    margin: 0;
  }
  .site-main-menu li.active a:after,
  .site-main-menu li a:hover:after {
    width: 25px;
    bottom: 8px;
    background-color: #fff;
  }
}

@media only screen and (max-width: 769px) {
  .portfolio-grid figure {
    width: 50%;
  }

  .info-list {
    margin-top: 20px;
  }
  .start-page-content .page-header {
    padding: 50px 30px;
    margin: 0;
  }
  .start-page-content .page-header .photo {
    max-width: 200px;
    margin: 0 auto;
  }
  .start-page-content .page-header .title-block h1 {
    margin-top: 25px;
    font-size: 44px;
    line-height: 1.2em;
  }
  .start-page-content .page-header .title-block .sp-subtitle {
    margin-top: 15px;
  }
  .custom-page-content .page-header {
    padding: 15px 30px;
  }
  .custom-page-content .page-header h2 {
    font-size: 33px;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio-grid figure {
    width: 100%;
  }
}
